[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
install = "*"
python-dotenv = "*"
flask = "*"
azure-storage-blob = "*"
azure-identity = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"

[scripts]
dev = 'flask run --debugger --reload --port=5002'
app = 'flask run'
